@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --default-color: #CF0707;
    --sidebar-menu-title : #2B7083;
    --sidebar-item-menu : #7199A4;
    --logout-box-number: #1D4854;
    --logout-box-subtext: #6B97A3;
    --divider: #CAEDF0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #F5FCFE;
}
.fs-7 {
    font-size: .875rem;
}
a {
    text-decoration: none;
    color: black;
}
.sidebar--title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: .875rem;
    color: var(--sidebar-menu-title);
    letter-spacing: 0;
}
.sidebar-menu__item {
    color: var(--sidebar-item-menu);
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.logo-icon {
    width: 20%;
    height: auto;
}
.logo-icon-big {
    width: 4rem;
    height: auto;
}
.selected-item {
    background-color: white;
   
}
.sidebar--anchor-list {
    padding-left: 0;
    margin-left: 0;
}
.icon-sidebar__selected {
}
.clean-list--image {
    margin-left: 1rem;
    padding: 0 1rem;
}
.sidebar-menu__item {
    transition: .4s all;
}
.sidebar-menu__item:hover {
    text-decoration: underline;
}
.logout__box {
    background-image: radial-gradient(circle at 6.2% 11%, #E4E4E4 0%, rgba(159,219,228,0.99) 134%);
    border-radius: 13px;
    margin: 3rem 1rem 0rem 1rem;
}
.logout__box--subtext {
    color: var(--logout-box-subtext);
}
.logout__box--number {
    color: var(--logout-box-number);
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}
.logout__box--button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: .875rem;
    color: var(--sidebar-menu-title);
    letter-spacing: 0;
    box-shadow: 0px 5px 8px #a9cbd5;
    transition: .4s all;
}
.logout__box--button:hover {
    box-shadow: 0px 5px 8px #79a3b0;
    letter-spacing: 1px;
}
.divider-top {
    border-top: 1px solid #CAEDF0;
}
.keep-margin {
    margin-left: 18rem;
}
th {
    font-weight: 400;
}
.no-border {
    border: none;
    background: none;
}
.width-small {
    width: 20rem;
}
.width-xsmall {
    width: 90%;
}
.width-xxsmall {
    width: 80%;
}
.image-not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}
#image-preview {
    width: 80%;
    height: auto;
}
#search-button {
    display: block;
}
.search-form--responsive {
    position: absolute;
    background-color: white;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 1200px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    display: block;
    transform: translateX(-100%);
    transition: all .4s;
}
.search-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
}
#search-form--close {
    display: block;
    background: none;
    border: none;
}
.logo-uploader {
    width: 84%;
}
.table-cargo-details tbody tr th  {
    max-width:2rem;
}
.table-cargo-details tbody tr td  {
    max-width:3rem;
}
.table-cargo-details {
    font-size: .87rem;
}
#map-origin, #map-destination { height: 180px;

    width: 100%; }
@media screen and (min-width: 768px) {
    .table-cargo-details {
        font-size: 1rem;
    }
    .image-not-found { 
        width: 50%;
    }
    #search-form--close {
        display: none;
    }
    .width-xsmall {
        width: 15rem;
    }
    .width-xxsmall {
        width: 10rem;
    }
    .ms-sidebar {
        margin-left: 15rem;
    }
    .search-form--responsive {
        display: block;
    }
    #search-button {
        display: none;
    }
    .search-form--responsive {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        position: static;
        display: block;
        height: auto;
        min-height: auto;
        background-color: inherit;
    }
    #image-preview {
        width: 50%;
        height: auto;
    }
    .logo-uploader {
        width: 16rem;
    }
 
}
