{% extends 'base-admin.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        
        <div class="col-12">
        <h2 class="mt-4">Edit plane</h2>
        
            {{ form | raw }}
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
$("select.image-picker").imagepicker({
    'show_label': true
}
)
</script>
{% endblock %}