{% extends 'base-admin.html.twig' %}

{% block body %}

	<section class="container">
		<div class="row ms-3 ms-sm-2 ms-md-0">
			<div class="col ps-0">
				<h2 class="fw-bold">Items catalog</h2>
			</div>
		</div>

	

		<div class="row mt-4 mb-2">
			<div class="col">
				<form id="search-product__form" data-routeName="catalog">
				<div class="top-search">
					<i class="bi-search top-search__icon"></i>
					<input class="top-search__input" 
						id="search-product__input" type="search" 
						placeholder="Search by model...">
				</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<table class="table">

					<thead>
						<tr>
							<th scope="col" class="d-none d-sm-table-cell">#</th>
							<th scope="col">Brand</th>
							<th scope="col">Model</th>
							<th scope="col" class="d-none d-sm-table-cell">Price</th>
							<th scope="col" class="d-none d-sm-table-cell">Qty</th>
							<th scope="col" class="d-none d-sm-table-cell">Category</th>
							<th scope="col" class="d-none d-sm-table-cell">Actions</th>
							<th scope="col" class="d-sm-none">Act</th>
						</tr>
					</thead>

					<tbody>
					 
						<tr>
						
						</tr>
					
					</tbody>
	</table>
	
</div></div></section>{% endblock %}