{% if status == 0 %}
	<span class="badge bg-danger">NDSP</span>
{% elseif status == 1 %}
	<span class="badge bg-primary">ONDLV</span>
{% else %}
	<span class="badge bg-success">DONE</span>
{% endif %}
